.letter {
    font-size: 42px;
    font-weight: bold;
    color: #379683  ;

}

.correct-letter {
    color: #015f01;
}

.incorrect-letter {
    color:rgb(134, 10, 10);
}

.current-letter {
    border-radius: 5px;
    outline: 3px solid #05383B;
    position: relative;
}