.letter {
    font-size: 42px;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.correct-letter {
    color: #015f01;
}

.incorrect-letter {
    color:rgb(134, 10, 10);
}

.current-letter {
    border-radius: 5px;
    outline: 3px solid #1348db;
    position: relative;
}
/* .current-letter::after {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 40px;
    content: '';
} */