body {
    background-color: #13b3db !important;
}

.info-field {
    background-color: #1348db;
    color: white;
}

.modal-header {
    background-color: #1348db;
    color: white;
}

.modal-body {
    background-color: #13b3db;
    color: white;
}
